.mobile__list {
    @extend %list;
}

.btn-menu-close {
    width: 24px;
    height: 24px;
    background-color: rgb(236, 15, 15);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background: rgb(108, 150, 136);
    transition: transform 250ms linear;
    // &.is-open {
    //     transform: translateY(0);
    // }
}

.mobile-menu.is-open {
    transform: translateY(0);
    overflow-y: auto;
}