$bcg-color:#191919;
$primary-text-color:rgba(255, 255, 255, 0.8);
$secondary-text-color:#E7E7E7;
$accent-color:#DF3D3A;
$bcg-icon-faq: rgba(255, 255, 255, 0.1);
// цвет в форме и футере
$tranparent-white-color:rgba(255, 255, 255, 0.3);