<section class="page-ability section">
  <div class="container page-ability__wrapper">
    <h2 class="page-ability__title">capable <span>of so much</span></h2>
    <ul class="page-ability__list">
      <div class="page-ability__item-left">
        <li class="page-ability__item">Ability to receive calls</li>
        <li class="page-ability__item">Rich and powerful sound</li>
        <li class="page-ability__item">Active noise cancellation option</li>
      </div>

      <div class="page-ability__item-right">
        <li class="page-ability__item">Unsurpassed microphone system</li>
        <li class="page-ability__item">Support of voice assistants</li>
        <li class="page-ability__item">
          Bose AR Augmented Reality Audio Platform
        </li>
      </div>
    </ul>
  </div>
</section>
