<section class="design ">
  <div class="container design-container">
    <div class="design__box">
      <h2 class="design__heading">Premium design<br> and comfort</h2>
        <h3 class="design__title">11 levels of noise reduction</h3>
        <p class="design__desc">
          With the new Bose Noise Canceling Headphone 700, you can smoothly increase
          or decrease the level of noise cancellation. You can be heard perfectly and
          you hear the interlocutor clearly, even in a noisy environment!
        </p>
        <h3 class="design__title">Comfort up to max level</h3>
        <p class="design__desc">
          Stylish, lightweight stainless steel headband with soft, angled cups of
          headphones for comfortable seating. The inner side is made of soft gel
          lining that fits well to the head.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/design/girl-with-headphones-320@1x.png 1x,
            ./images/design/girl-with-headphones-320@2x.png 2x,
            ./images/design/girl-with-headphones-320@3x.png 3x
          "
          media="(max-width: 767px )"
        />
        <source
          srcset="
            ./images/design/girl-with-headphones-1200@1x.png 1x,
            ./images/design/girl-with-headphones-1200@2x.png 2x,
            ./images/design/girl-with-headphones-1200@3x.png 3x
          "
          media="(min-width: 1439px )"
        />
        <source
        srcset="
          ./images/design/girl-with-headphones-768@1x.png 1x,
          ./images/design/girl-with-headphones-768@2x.png 2x,
          ./images/design/girl-with-headphones-768@3x.png 3x
        "
        media="(min-width: 768px )"
      />
        <img src="./images/design/girl-with-headphones-768@1x.png" alt="girl" />
      </picture>
  </div>

</section>
