<section class="faq container">
    <h2 class="faq__title">faq</h2>
    <ol class="faq__list">
        <li class="faq__item">
            <p class="faq__text">How to pair with a mobile device?</p>
        </li>
        <li class="faq__item">
            <p class="faq__text">What is the wireless range of the Bose NC 700?</p>
        </li>
        <li class="faq__item">
            <p class="faq__text">How do I fold the Bose NC 700 headphones for storage?</p>
        </li>
        <li class="faq__item">
            <p class="faq__text">Does the guarantee work internationally?</p>
        </li>
    </ol>
</section>