<section class="faq ">
<div class="container faq__container">


    <h2 class="faq__title" id="faq">faq</h2>

    <ul class="faq__list">
        <li class="faq__item hide">
            <ul class="faq__item-body">
                <li class="faq__item-text">
                    <p class="faq__text">How to pair with a mobile device?</p>
                </li>
                <li class="faq__item-content">
                    Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud.
                    Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you
                    connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice
                    prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the
                    pairing process, however you can also use the Bluetooth settings on your device.
                </li>
            </ul>
        </li>

        <li class="faq__item hide">
            <ul class="faq__item-body">
                <li class="faq__item-text">
                    <p class="faq__text">What is the wireless range of the Bose NC 700?</p>
                </li>
                <li class="faq__item-content">
                    Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud.
                    Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you
                    connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice
                    prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the
                    pairing process, however you can also use the Bluetooth settings on your device.
                </li>
            </ul>
        </li>

        <li class="faq__item hide">
            <ul class="faq__item-body">
                <li class="faq__item-text">
                    <p class="faq__text">How do I fold the Bose NC 700 headphones for storage?</p>
                </li>
                <li class="faq__item-content">
                    Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud.
                    Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you
                    connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice
                    prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the
                    pairing process, however you can also use the Bluetooth settings on your device.
                </li>
            </ul>
        </li>

        <li class="faq__item hide">
            <ul class="faq__item-body">
                <li class="faq__item-text">
                    <p class="faq__text">Does the guarantee work internationally?</p>
                </li>
                <li class="faq__item-content">
                    Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud.
                    Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you
                    connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice
                    prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the
                    pairing process, however you can also use the Bluetooth settings on your device.
                </li>
            </ul>
        </li>
    </ul>
  </div>
</section>