<section class="guarantee">
  <div class="container guarantee__wrapper">
    <div class="guarantee__position">
      <div class="guarantee__content">
        <h2 class="guarantee__title">Guarantees</h2>
        <ul class="guarantee__list">
          <li class="guarantee__item">
            <h3 class="guarantee__title-description">
              90 Day Money <span>Back Guarantee</span>
            </h3>
            <p class="guarantee__description">
              If you are not 100% satisfied with a product, you can return it
              back for a full refund.
            </p>
          </li>
          <li class="guarantee__item">
            <h3 class="guarantee__title-description">1 year warranty</h3>
            <p class="guarantee__description">
              Regardless of your country of residence, if your headphones are
              broken, we will send you new ones.
            </p>
          </li>
        </ul>
      </div>
      <div class="guarantee__img">
        <picture class="guarantee_img">
          <source
            srcset="
              ./images/guarantee/guarantees-320@1x.png 1x,
              ./images/guarantee/guarantees-320@2x.png 2x,
              ./images/guarantee/guarantees-320@3x.png 3x
            "
            media="(max-width: 767px )"
          />
          <source
            srcset="
              ./images/guarantee/guarantees-1440@1x.png 1x,
              ./images/guarantee/guarantees-1440@2x.png 2x,
              ./images/guarantee/guarantees-1440@3x.png 3x
            "
            media="(min-width: 1439px )"
          />
          <source
            srcset="
              ./images/guarantee/guarantees-768@1x.png 1x,
              ./images/guarantee/guarantees-768@2x.png 2x,
              ./images/guarantee/guarantees-768@3x.png 3x
            "
            media="(min-width: 768px )"
          />
          <img src="./images/guarantee/guarantees-768@1x.png" alt="xfd" />
        </picture>
      </div>
    </div>
  </div>
</section>
