<section class="history container">
    <div class="history__container">
        <div class="history__container-colum">
            <h2 class="history-title">brand creation history</h2>
            <p class="history-text">The history of Bose Corporation began with disappointment. In 1956, MIT graduate student Amar Bose bought one of the best stereo systems at the time for his home. After a few minutes of listening to the audio recording, his bewilderment turned to disappointment. </p>
            <picture class="history-img">
        <source
            srcset="
                ./images/history/brand-history-320@1x.png  1x,
                ./images/history/brand-history-320@2x.png  2x,
                ./images/history/brand-history-320@3x.png  3x"
                    type="image/png"
                    media="(max-width: 767px)"
        />
        <source
            srcset="
                ./images/history/brand-history-768@1x.png  1x,
                ./images/history/brand-history-768@2x.png  2x,
                ./images/history/brand-history-768@3x.png  3x"
                    type="image/png"
                    media="(max-width: 1440px)"
        />
        <source
            srcset="
                ./images/history/brand-history-1440@1x.png  1x,
                ./images/history/brand-history-1440@2x.png  2x,
                ./images/history/brand-history-1440@3x.png  3x"
                    type="image/png"
                    media="(min-width: 1440px)"
        />
        <img srcset="./images/history/brand-history-320@1x.png" alt="brand">
            </picture>
            <p class="history-text">From Amar's point of view, the sound was so flat and unnatural that it was better not to listen to the music at all than to listen to it in such a distorted form.</p>
        </div>
        <div>
            <picture class="history-img__colum">
                <source
                    srcset="
                        ./images/history/brand-history-320@1x.png  1x,
                        ./images/history/brand-history-320@2x.png  2x,
                        ./images/history/brand-history-320@3x.png  3x"
                            type="image/png"
                            media="(max-width: 767px)"
                />
                <source
                    srcset="
                        ./images/history/brand-history-768@1x.png  1x,
                        ./images/history/brand-history-768@2x.png  2x,
                        ./images/history/brand-history-768@3x.png  3x"
                            type="image/png"
                            media="(max-width: 1440px)"
                />
                <source
                    srcset="
                        ./images/history/brand-history-1440@1x.png  1x,
                        ./images/history/brand-history-1440@2x.png  2x,
                        ./images/history/brand-history-1440@3x.png  3x"
                            type="image/png"
                            media="(min-width: 1440px)"
                />
                <img srcset="./images/history/brand-history-320@1x.png" alt="brand">
            </picture>
            <p class="history-text history-text__normalise">Bose's frustration grew into a firm determination to build audio equipments that would reproduce sound with impeccable accuracy and naturalness</p>
        </div>
    </div>
    
    
    
    <figure class="history-figure">
        <picture class="history-img__quotes">
            <source
                srcset="
                    ./images/history/amar-bose-320@1x.png  1x,
                    ./images/history/amar-bose-320@2x.png  1x,
                    ./images/history/amar-bose-320@3x.png  3x" 
                        type="image/png"
                        media="(max-width: 767px)"
            >
            <source
                srcset="
                    ./images/history/amar-bose-768@1x.png  1x,
                    ./images/history/amar-bose-768@2x.png  1x,
                    ./images/history/amar-bose-768@3x.png  3x" 
                        type="image/png"
                        media="(max-width: 1440px)"
            >
            <source
                srcset="
                    ./images/history/amar-bose-1440@1x.png  1x,
                    ./images/history/amar-bose-1440@2x.png  1x,
                    ./images/history/amar-bose-1440@3x.png  3x" 
                        type="image/png"
                        media="(min-width: 1440px)"
            >
            <img class="history-img__quotes-normalise" srcset="./images/history/amar-bose-320@1x.png" alt="amar">
        </picture>
        <figcaption class="history-figure__figcaption">
            <div>
                <svg
                class="icon-quotes"
                width="25"
                height="34"
                aria-label="quotes"
              >
                <use href="./images/icons.svg#icon-quotes"></use>
              </svg>
              <p class="history-quote">Never stop dreaming. Always dream of the best, and think about how to achieve it.</p>
              <p class="history-signature">Amar Bose is a company founder </p>
            </div>
        </figcaption>
    </figure>
</section>