<select class="image container">
  <div class="order__image">
    <picture>
      <source srcset="
          ./images/feedback/feedback-320@1x.png 1x,
          ./images/feedback/feedback-320@2x.png 2x,
          ./images/feedback/feedback-320@3x.png 3x
        " media="(max-width: 767px )" />
      <source srcset="
          ./images/feedback/feedback-1440@1x.png 1x,
          ./images/feedback/feedback-1440@2x.png 2x,
          ./images/feedback/feedback-1440@3x.png 3x
        " media="(min-width: 1439px )" />
      <source srcset="
          ./images/feedback/feedback-768@1x.png 1x,
          ./images/feedback/feedback-768@2x.png 2x,
          ./images/feedback/feedback-768@3x.png 3x
        " media="(min-width: 768px )" />
      <img src="./images/feedback/feedback-768@1x.png" alt="tea" />
    </picture>
  </div>
</select>
