
<div class="mobile-menu js-menu-container" id="mobile-menu">
    <div>
        <a href=""><span class="logo">
            logo
        <svg class="logo__icon" width="24" height="24">            
            <use>
            </use>
        </svg>
</span>
</a>
<button class="btn-menu-close js-close-menu"></button>
</div>

<ul class="mobile__list">
<li class="mobile__item">Characteristics</li>
<li class="mobile__item">History</li>
<li class="mobile__item">Reviews</li>
<li class="mobile__item">Payment and delivery</li>
</ul>
</div>