
<div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="logo-wrapper">
        <a href=""><span class="logo">
        <svg class="logo__icon" width="100" height="12">
            <use href="./images/icons.svg#icon-bose-logo">
            </use>
        </svg>
</span>
</a>
<button class="btn-menu-close js-close-menu">
    <svg width="30" height="30">
    <use href="./images/icons.svg#icon-close-menu"></use>
    </svg>
</button>
</div>

<ul class="mobile__list">
<li class="mobile__item"><a class="mobile__link" href="#char">Characteristics</a></li>
<li class="mobile__item"><a class="mobile__link" href="#history">History</a></li>
<li class="mobile__item"><a class="mobile__link" href="#reviews">Reviews</a></li>
<li class="mobile__item"><a class="mobile__link" href="delivery">Payment and delivery</a></li>
</ul>
</div>