<section class="section order">
  <div class="order__aria">
    <div class="order__box">
     <h2 class="order__bose">BOSE NC 700</h2>
      <form class="order__form">
        <div class="order__btn">
         <label class="custom-checkbox__black" for="radio-1">
          <input class="label-black" id="radio-1" name="radio" type="radio" checked />
          <span class="check-order__black">
            <svg class="check-icon__black" width="70" height="70px">
              <use href="./images/icons.svg#icon-Ellipse"></use>
            </svg>
          </span>
         </label>
         <label class="custom-checkbox__white" for="radio-2">
          <input class="label-white" id="radio-2" name="radio" type="radio" checked />
          <span class="check-order__white">
            <svg class="check-icon__white" width="70" height="70px">
              <use href="./images/icons.svg#icon-Ellipse"></use>
            </svg>
          </span>
         </label>
        <div>
      </form>
    </div>

   <picture>
    <source srcset="
              ./images/order/product-img-bl-320@1x.png 1x,
              ./images/order/product-img-bl-320@2x.png 2x,
              ./images/order/product-img-bl-320@3x.png 3x
            " media="(max-width: 767px )" />
    <source srcset="
              ./images/order/product-img-bl-1440@1x.png 1x,
              ./images/order/product-img-bl-1440@2x.png 2x,
              ./images/order/product-img-bl-1440@3x.png 3x
            " media="(min-width: 1439px )" />
    <source srcset="
              ./images/order/product-img-bl-768@1x.png 1x,
              ./images/order/product-img-bl-768@2x.png 2x,
              ./images/order/product-img-bl-768@3x.png 3x
            " media="(min-width: 768px )" />
    <img src="./images/order/product-img-bl-768@1x.png" alt="headphones" />
   </picture>
   <picture class="order__picture">
    <source srcset="
            ./images/order/product-img-wh-320@1x.png 1x,
            ./images/order/product-img-wh-320@2x.png 2x,
            ./images/order/product-img-wh-320@3x.png 3x
          " media="(max-width: 767px )" />
    <source srcset="
            ./images/order/product-img-wh-1440@1x.png 1x,
            ./images/order/product-img-wh-1440@2x.png 2x,
            ./images/order/product-img-wh-1440@3x.png 3x
          " media="(min-width: 1439px )" />
    <source srcset="
            ./images/order/product-img-wh-768@1x.png 1x,
            ./images/order/product-img-wh-768@2x.png 2x,
            ./images/order/product-img-wh-768@3x.png 3x
          " media="(min-width: 768px )" />
    <img src="./images/order/product-img-wh-768@1x.png" alt="headphones" />
   </picture>


    <div class="order__thumb">
      <ul class="order__item">
      <li class="order__list">
        <p class="order__link">Availability in stores</p>
        <svg class="order__icon" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="order__list">
        <p class="order__link">Characteristics</p>
        <svg class="order__icon" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="order__list">
        <p class="order__link">Payment and delivery methods</p>
        <svg class="order__icon" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      </ul>
      <p class="order__many">14 999 UAH</p>
      <button class="btn__item">ORDER</button>
    </div>
  </div>
  <div class="order__image">
    <picture>
      <source srcset="
          ./images/feedback/feedback-320@1x.png 1x,
          ./images/feedback/feedback-320@2x.png 2x,
          ./images/feedback/feedback-320@3x.png 3x
        " media="(max-width: 767px )" />
      <source srcset="
          ./images/feedback/feedback-1440@1x.png 1x,
          ./images/feedback/feedback-1440@2x.png 2x,
          ./images/feedback/feedback-1440@3x.png 3x
        " media="(min-width: 1439px )" />
      <source srcset="
          ./images/feedback/feedback-768@1x.png 1x,
          ./images/feedback/feedback-768@2x.png 2x,
          ./images/feedback/feedback-768@3x.png 3x
        " media="(min-width: 768px )" />
      <img src="./images/feedback/feedback-768@1x.png" alt="tea" />
    </picture>
  </div>
</section>