<section class="order ">
  <div class="order-box container">
    <div class="order__aria ">
      <h2 class="order__bose" id="delivery">BOSE NC 700</h2>
      <div class="order__btn">
        <input
          type="radio"
          class="radio-input visually-hidden"
          id="radio-1"
          name="radio"
          checked
        />
        <label class="radio-label black" for="radio-1">
          <picture>
            <source
              srcset="
                ./images/order/product-img-bl-320@1x.png 1x,
                ./images/order/product-img-bl-320@2x.png 2x,
                ./images/order/product-img-bl-320@3x.png 3x
              "
              media="(max-width: 767px )"
            />
            <source
              srcset="
                ./images/order/product-img-bl-1440@1x.png 1x,
                ./images/order/product-img-bl-1440@2x.png 2x,
                ./images/order/product-img-bl-1440@3x.png 3x
              "
              media="(min-width: 1439px )"
            />
            <source
              srcset="
                ./images/order/product-img-bl-768@1x.png 1x,
                ./images/order/product-img-bl-768@2x.png 2x,
                ./images/order/product-img-bl-768@3x.png 3x
              "
              media="(min-width: 768px )"
            />
            <img
              class="radio-img"
              src="./images/order/product-img-bl-768@1x.png"
              alt="headphones black"
            />
          </picture>
        </label>
        <input
          type="radio"
          class="radio-input visually-hidden"
          id="radio-2"
          name="radio"
        />
        <label class="radio-label white" for="radio-2">
          <picture>
            <source
              srcset="
                ./images/order/product-img-wh-320@1x.png 1x,
                ./images/order/product-img-wh-320@2x.png 2x,
                ./images/order/product-img-wh-320@3x.png 3x
              "
              media="(max-width: 767px )"
            />
            <source
              srcset="
                ./images/order/product-img-wh-1440@1x.png 1x,
                ./images/order/product-img-wh-1440@2x.png 2x,
                ./images/order/product-img-wh-1440@3x.png 3x
              "
              media="(min-width: 1439px )"
            />
            <source
              srcset="
                ./images/order/product-img-wh-768@1x.png 1x,
                ./images/order/product-img-wh-768@2x.png 2x,
                ./images/order/product-img-wh-768@3x.png 3x
              "
              media="(min-width: 768px )"
            />
            <img
              class="radio-img"
              src="./images/order/product-img-wh-768@1x.png"
              alt="headphones white"
            />
          </picture>
        </label>
      </div>

      <div class="order__thumb">
        <ul class="order__item">
          <li class="order__list">
            <p class="order__link">Availability in stores</p>

            <a href="#char">
              <svg class="order__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="order__list">
            <p class="order__link">Characteristics</p>

            <a class="" href="#history">
              <svg class="order__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </a>
          </li>
          <li class="order__list">
            <p class="order__link">Payment and delivery methods</p>
            <a class="" href="#delivery"
              ><svg class="order__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-arrow"></use></svg
            ></a>
          </li>
        </ul>
        <!-- <button type="button" href="#char">wwww</button> -->
        <p class="order__many">14 999 UAH</p>

        <button class="btn__item">ORDER</button>
      </div>
    </div>
  </div>

</section>
