<footer class="footer">
  <div class="footer-box">
    <div class="page-footer">
      <ul class="footer__item">
        <li class="footer__list">Characteristics</li>
        <li class="footer__list">History</li>
        <li class="footer__list">Reviews</li>
      </ul>
    </div>
    <div class="footer-contakt">
      <ul class="footer-contakt__item">
        <li class="footer__list">Payment and delivery</li>
        <li class="footer__list">Store addresses</li>
        <li class="footer__list">FAQ</li>
      </ul>
    </div>
  </div>
  <div class="footer-link">
    <a class="footer-contakt__link" href="tel:88001111111">8 (800) 111-11-11</a>
  </div>
</footer>
