
<section class="hero" >
  <!-- <div class="container hero-container "> -->
    <div class="container wrapper-hero">
    <div class="wrapper-hero__descr">
    <p class="hero-descr hero-descr--first">Noise cancellation headphones
      that are capable for a lot of things</p>
    <p class="hero-descr hero-descr--second">Up to 20 hours
      of playback</p>

        <h1 class="hero-title">Headphones Bose NC 700</h1>
        <button class="hero-btn" type="button">order</button>
      </div>
        <picture class="picture-hero">
          <source srcset="./images/hero/hero_320@1x.png 1x, ./images/hero/hero_320@2x.png 2x, ./images/hero/hero_320@3x.png 3x" type="image/png" media="(max-width:767px)">
          <source srcset="./images/hero/hero_1440@1x.png 1x, ./images/hero/hero_1440@2x.png 2x, ./images/hero/hero_1440@3x.png 3x" type="image/png" media="(min-width:1440px)">
          <source srcset="./images/hero/hero_768@1x.png 1x, ./images/hero/hero_768@2x.png 2x, ./images/hero/hero_768@3x.png 3x" type="image/png" media="(min-width:768px)">
          <img class="picture-hero__img" src="./images/hero/hero_1440@1x.png" alt="headphones">
        </picture>
      </div>

  <!-- </div> -->
</section>