<footer class="footer">
  <div class="container footer-container">
    <div class="footer-box">
  
        <ul class="footer__item">
          <li class="footer__list">
            <a class="footer__link" href="#char">Characteristics</a>
          </li>
          <li class="footer__list">
            <a class="footer__link" href="#history">History</a>
          </li>
          <li class="footer__list">
            <a class="footer__link" href="#reviews">Reviews</a>
          </li>
        </ul>

        <ul class="footer-contact__item">
          <li class="footer__list">
            <a class="footer__link" href="#delivery">Payment and delivery</a>
          </li>
          <li class="footer__list">
            <a class="footer__link" href="#addres">Store addresses</a>
          </li>
          <li class="footer__list"><a class="footer__link" href="#faq">FAQ</a></li>
        </ul>

    </div>
    <div class="footer-tel">
      <a class="footer-contact__link" href="tel:88001111111">8 (800) 111-11-11</a>
    </div>
  </div>

</footer>
