<section class="reviews container">

    <h2 class="reviews__title">reviews</h2>
    <div class="reviews__video-wrapper">
        <iframe class="reviews__video--size"
            width="920" height="590" src="https://www.youtube.com/embed/VqP11Ma_2Fk"
            title="Bose | Bose Noise Cancelling Headphones 700 | Everybody’s Talking" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>

    <h3 class="reviews__subtitle">Bose Сorporation</h3>
    <p class="reviews__text">
        Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise
        Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out
        the world for a few moments and relax
    </p>

    <div class="reviews__video--pagination">
        <ul class="pagination__list">
            <li class="pagination__item pagination__item--active">
                <p class="pagination__count">01</p>
            </li>
            <li class="pagination__item">
                <p class="pagination__count">02</p>
            </li>
            <li class="pagination__item">
                <p class="pagination__count">03</p>
            </li>
        </ul>




        
        
        
    </div>

    
</section>