<section class="reviews ">
  <div class="container reviews__container ">


    <div class="reviews__slider swiper">

        <h2 class="reviews__title" id="reviews">reviews</h2>

        <div class="swiper-wrapper">

            <!-- SLIDE 1 -->
            <div class="swiper-slide">
                <div class="slider__video-wrapper">
                    <iframe
                        class="reviews__video"
                        width="920" height="590"
                        src="https://www.youtube.com/embed/VqP11Ma_2Fk"
                        title="Bose | Bose Noise Cancelling Headphones 700 | Everybody’s Talking"
                        style="border: none;"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>

                <div class="slider__descr-wrapper">
                    <h3 class="reviews__subtitle">Bose Сorporation</h3>
                    <p class="reviews__text">
                        Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise
                        Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut
                        out the world for a few moments and relax
                    </p>
                </div>

            </div>
            <!-- SLIDE 2 -->
            <div class="swiper-slide">
                <div class="slider__video-wrapper">
                    <iframe
                        class="reviews__video"
                        width="920" height="590"
                        src="https://www.youtube.com/embed/BUyLpf-u97Y"
                        title="Bose Noise Cancelling Headphones 700 | Design and innovation as one"
                        style="border: none;"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                </div>

                <div class="slider__descr-wrapper">
                    <h3 class="reviews__subtitle">Bose Сorporation</h3>
                    <p class="reviews__text">
                        Bose Noise Cancelling Headphones 700 deliver everything you expect — and things you never imagined possible. The
                        perfect balance of quiet, comfort, and sound.
                    </p>
                </div>

            </div>
            <!-- SLIDE 3 -->
            <div class="swiper-slide">
                <div class="slider__video-wrapper">
                    <iframe
                        class="reviews__video"
                        width="920" height="590"
                        src="https://www.youtube.com/embed/NgtznBDFRUo"
                        title="Bose | Power of Sound - Open Your Heart and Mind with Infinite Possibilities"
                        style="border: none;"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>

                <div class="slider__descr-wrapper">
                    <h3 class="reviews__subtitle">Bose Сorporation</h3>
                    <p class="reviews__text">
                        Real stories of people tuning in or out to feel peace, find escape, and for self-care
                    </p>
                </div>

            </div>
        </div>
        <div class="swiper-pagination"></div>

    </div>







  </div>
</section>