<section class="sound ">
  <div class="container sound__wrapper">
    <h2 class="sound__title">The luxury of silence</h2>
    <picture class="sound_img">
      <source
        srcset="
          ./images/sound/luxury-silence-320@1x.png 1x,
          ./images/sound/luxury-silence-320@2x.png 2x,
          ./images/sound/luxury-silence-320@3x.png 3x
        "
        media="(max-width: 767px )"
      />
      <source
        srcset="
          ./images/sound/luxury-silence-1440@1x.png 1x,
          ./images/sound/luxury-silence-1440@2x.png 2x,
          ./images/sound/luxury-silence-1440@3x.png 3x
        "
        media="(min-width: 1439px )"
      />
      <source
        srcset="
          ./images/sound/luxury-silence-768@1x.png 1x,
          ./images/sound/luxury-silence-768@2x.png 2x,
          ./images/sound/luxury-silence-768@3x.png 3x
        "
        media="(min-width: 768px )"
      />
      <img src="./images/sound/luxury-silence-768@1x.png" alt="xfd" />
    </picture>

    <ul class="sound__list">
      <li class="sound__item">
        <h3 class="sound__title-description">Maximum enjoyment</h3>
        <p class="sound__description">
          In order to create a comfortable atmosphere - raise the level by level
          from the "transparent" mode to the maximum blocking of sounds. The
          conversation mode can be activated in one click using a special
          button.
        </p>
      </li>

      <li class="sound__item">
        <h3 class="sound__title-description">Crystal sound</h3>
        <p class="sound__description">
          The speaker system and brand name active equalizer are able to provide
          high-quality and powerful sound at any volume level. You can be sure
          of no distortion and crystal clear at high and low frequencies.
        </p>
      </li>
    </ul>
  </div>
</section>
