<section class="technology ">
  <div class="container technology-container">
    <div class="technology__box">
      <h2 class="technology__heading">Bose AR</h2>
        <h3 class="technology__title">Brand name technology</h3>
        <p class="technology__desc">
          Bose AR is a unique audio platform augmented reality, that opens before  you new facets of sound. It allows you
    to stay connected to the real world
    and immerse yourself in the virtual universe at the same time.
        </p>
      </div>
      <picture class="technology__pic">
        <source
          srcset="
            ./images/technology/brand-name-320@1x.png 1x,
            ./images/technology/brand-name-320@2x.png 2x,
            ./images/technology/brand-name-320@3x.png 3x
          "
          media="(max-width: 767px )"
        />
        <source
          srcset="
            ./images/technology/brand-name-1440@1x.png 1x,
            ./images/technology/brand-name-1440@2x.png 2x,
            ./images/technology/brand-name-1440@3x.png 3x
          "
          media="(min-width: 1439px )"
        />
        <source
        srcset="
          ./images/technology/brand-name-768@1x.png 1x,
          ./images/technology/brand-name-768@2x.png 2x,
          ./images/technology/brand-name-768@3x.png 3x
        "
        media="(min-width: 768px )"
      />
        <img src="./images/technology/brand-name-768@1x.png" alt="girl" />
      </picture>
  </div>

</section>
