.btn__item {
  // use single stile btn__item to the item
  // <button class="btn__item">order</button>
  display: block;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.25px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $primary-text-color;

  width: 280px;
  height: 58px;

  background-color: $accent-color;
  border: none;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #b5302d 50%);
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #b5302d;
    background-position: -100% 100%;
  }

  @media screen and (min-width: 768px) {
    width: 294px;
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}

.btn__item-feedback {
  // use stiles "btn__item draw meet" to the item
  // <button class="btn__item-feedback draw meet">order</button>
  display: block;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.25px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  width: 100%;
  height: 58px;

  background: none;
  border: 0;

  box-shadow: inset 0 0 0 1px $accent-color;
  color: $primary-text-color;

  position: relative;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 320px) {
    max-width: 280px;
  }

  @media screen and (min-width: 480px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 294px;
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}

.btn__item-feedback--dimensions {
  //  for btn SEND
  @media screen and (min-width: 1440px) {
    width: 510px;
    height: 68px;
  }
}

.draw {
  transition: color 0.25s;

  &::before,
  &::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: #b5302d;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $primary-text-color;
    border-right-color: $primary-text-color;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: $primary-text-color;
    border-left-color: $primary-text-color;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s;
  }
}

.draw.meet {
  &:hover {
    color: #b5302d;
  }

  &::after {
    top: 0;
    left: 0;
  }

  &:hover::before {
    border-top-color: $primary-text-color;
    border-right-color: $primary-text-color;
  }

  &:hover::after {
    border-bottom-color: $primary-text-color;
    border-left-color: $primary-text-color;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}
