.mobile__list {
    @extend %list;    
        margin-left: auto;
        margin-right: auto;
    @media screen and (max-width:767px) {        
        max-width: 440px;
    }
    @media screen and (min-width:768px) {
        max-width: 648px;
    }
}

.mobile__link{
    @extend %link;
    color: $primary-text-color;
    transition: color 250ms linear;
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:768px) {
        max-width: 648px;
    }
}

.mobile__item:not(:last-child) {
    margin-bottom: 24px;
}

.btn-menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
    width: 30px;
    height: 30px;
    border: none;
    &__icon{
        transition: fill 250ms linear;
        fill:rgba(255, 255, 255, 0.8);
        color: $accent-color;
    }
    // &:hover &__icon{
    //     cursor: pointer;
    //     color: $accent-color;
    //     fill: currentColor;
    // }
    &__icon:hover,
    &__icon:focus {
        cursor: pointer;        
        fill: currentColor;
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background: #191919;
    transition: transform 250ms linear;
    padding: 43px 60px;
    margin-right: 5px;
    @media screen and (max-width:767px) {
        padding: 28px 20px;
    }
    @media screen and (min-width:1440px) {
        display: none;
    }
}


.mobile-menu.is-open {
    transform: translateY(0);
    overflow-y: none;
}

.logo-link:hover .logo__icon,
.logo-link:focus .logo__icon {
    color: $accent-color;
    fill:currentColor;
}
