.page-ability__wrapper {
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 50px 60px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 190px;
    padding-right: 269px;
    padding-bottom: 85px;
    padding-top: 85px;
  }


}

@media screen and (max-width: 767px) {
  span {
      display: block;
    }
}


.page-ability__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 54px;
    margin-bottom: 50px;
  }

}


.page-ability__list {
  @extend %list;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
  }

}

.page-ability__item-right {
  display: flex;
  flex-direction: column;
}

.page-ability__item-left {
  display: flex;
  flex-direction: column;
}

.page-ability__item {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 125%;
  color: $primary-text-color;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    line-height: 145%;
    
  }



}

.page-ability__item::before {
  content: '';
  max-width: 13px;
  width: 100%;
  height: 13px;
  background-color: $accent-color;
  border-radius: 50%;
  margin-right: 27px;


}