.faq {
    @extend %section;

}
.faq__container{
  @media screen and (min-width:768px) {
    padding-left: 60px;
    padding-right: 60px;

}

@media screen and (min-width:1440px) {
    padding-left: 190px;
    padding-right: 190px;

}
}
.faq__title {
    @extend %section-title;
}

.faq__list {
    @extend %list;
    counter-reset: item;

}

.faq__list, .faq__item-body {
    @extend %list;
}

.faq__item {
    display: flex;
    align-items: flex-start;
    width: 100%;

    padding-top: 24px;
    padding-bottom: 24px;

    &:first-child {
        padding-top: 0;
    }

    border-bottom: 2px solid $bcg-icon-faq;

    &::before {
        display: block;
        content: "0" counter(item);
        counter-increment: item;

        margin-top: 2px;
        margin-right: 16px;

        font-style: normal;
        font-family: 'Roboto Condensed';
        font-size: 20px;
        line-height: 0.7;

        color: $secondary-text-color;

        @media screen and (min-width:1440px) {

            margin-right: 32px;

            font-size: 28px;
            line-height: 1.25;

        }

    }

    &::after {
        content: "";
        display: block;
        margin-left: auto;

        width: 42px;
        height: 42px;

        background-image: url(../images/question-mark.svg);
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: top;

        @media screen and (min-width:768px) {
            margin-right: 16px;
        }

        @media screen and (min-width:1440px) {

            background-size: 42px;

        }

    }

    @media screen and (min-width:768px) {
        padding-bottom: 28px;

    }

    @media screen and (min-width:1440px) {
        padding-top: 84px;
        padding-bottom: 21px;

    }
}


.faq__item-text {

    max-width: 200px;
    width: 100%;

    font-size: 14px;
    line-height: 1.28;
    color: $secondary-text-color;

    @media screen and (min-width:321px) and (max-width:767.98px) {
        max-width: 500px;

    }

    @media screen and (min-width:768px) {
        max-width: 550px;
        font-size: 16px;
        line-height: 1.43;
    }

    @media screen and (min-width:1440px) {
        max-width: 900px;

        font-size: 28px;
        line-height: 1.25;

    }

}

.faq__item-content {
    margin-top: 16px;

    font-size: 12px;
    line-height: 1.45;
    color: $primary-text-color;

    opacity: 1;
    max-height: 100%;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), height 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        font-size: 14px;
        line-height: 1.45;
    }

    @media screen and (min-width:1440px) {
        font-size: 20px;

    }
}

.faq__item.hide .faq__item-content {
    margin-top: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.faq__item-body {
    position: relative;
    max-width: 900px;
    width: 100%;
}

