.faq {
    @extend %section;

    @media screen and (min-width:768px) {
        padding-left: 60px;
        padding-right: 60px;

    }

    @media screen and (min-width:1440px) {
        padding-left: 190px;
        padding-right: 190px;

    }

}

.faq__title {
    @extend %section-title;
}

.faq__list {
    @extend %list;
    counter-reset: item;

}

.faq__item {
    display: flex;
    align-items: flex-start;
    width: 100%;

    padding-top: 24px;
    padding-bottom: 24px;

    &:first-child {
        padding-top: 0;
    }

    border-bottom: 2px solid $bcg-icon-faq;

    &::before {
        display: block;
        content: "0" counter(item);
        counter-increment: item;

        margin-top: 2px;
        margin-right: 16px;

        font-style: normal;
        font-family: 'Roboto Condensed';
        font-size: 20px;
        line-height: 0.7;

        color: $secondary-text-color;
    
        @media screen and (min-width:1440px) {   
            
            margin-right: 32px;

            font-size: 28px;
            line-height: 1.25;
    
        }
        
    }

    &::after {
        content: "";
        display: block;
        margin-left: auto;
        
        width: 42px;
        height: 42px;

        background-image: url(../images/question-mark.svg);
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: top;

        @media screen and (min-width:768px) {
            margin-right: 16px;
        }

        @media screen and (min-width:1440px) {
        
            background-size: 42px;
    
        }

    }

    @media screen and (min-width:768px) {
        padding-bottom: 28px;

    }

    @media screen and (min-width:1440px) {
        padding-top: 84px;
        padding-bottom: 21px;

    }
}


.faq__text {

    max-width: 200px;
    width: 100%;

    font-size: 14px;
    line-height: 1.28;
    color: $secondary-text-color;

    @media screen and (min-width:321px) and (max-width:767.98px) {
        max-width: 500px;

    }

    @media screen and (min-width:768px) {
        max-width: 550px;
        font-size: 16px;
        line-height: 1.43;
    }

    @media screen and (min-width:1440px) {
        max-width: 900px;

        font-size: 28px;
        line-height: 1.25;

    }

}

.faq__overlay-wrapper {
    position: relative;
    max-width: 900px;
    width: 100%;
}

// .faq__overlay {

//     position: absolute;
//     width: 100%;
//     height: 100%;

//     bottom: 0;
//     left: 0;

//     transform: translateY(100%);
//     transition: transform 250ms var(--cubic);

//     padding-top: 16px;
//     padding-bottom: 24px;

//     .faq__item:hover & {
//         transform: translateY(0);

//     }
    

//     &-text {
//         font-size: 20px;
//         line-height: 1.45;     
//         color: $primary-text-color;
        
    
//     }
// }