.feedback {
  @extend %section;
  display: flex;
  flex-direction: column;

  padding: 18px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding-left: 62px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 190px;
    padding-right: 190px;

    flex-direction: row;
  }

  &__title {
    margin-bottom: 32px;

    color: #ffffff;

    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      font-size: 30px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 50px;

      font-size: 54px;
      font-weight: 600;
    }
  }
  &__text {
    margin-bottom: 40px;

    color: #ffffff;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0em;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      margin-bottom: 52px;

      font-size: 20px;
      font-weight: 600;
    }

    @media screen and (min-width: 1440px) {
      font-size: 28px;
    }
  }

  &__label--margin {
    @media screen and (min-width: 1440px) {
      margin-left: 150px;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    margin-bottom: 32px;
  }
  &__items {
    &:focus-within {
      border-color: $accent-color;
    }

    &:not(:last-child) {
      padding-bottom: 0;
    }
  }
  &__form {
    outline-style: none;
    max-width: 646px;

    padding: 0;
    padding-bottom: 16px;

    border: 1px solid transparent;
    border-bottom: 2px solid $primary-text-color;

    color: $primary-text-color;
    background-color: $bcg-color;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0em;

    &:focus-within,
    &:hover,
    &:focus {
      outline-style: none;
      border-bottom: 2px solid $accent-color;
    }
  }
  &__area {
    resize: none;
    height: 80px;
    padding: 0;

    @media screen and (min-width: 1440px) {
      height: 117px;
    }
  }

  &__link {
    margin-left: 5px;

    color: $primary-text-color;
  }
  &__checkbox {
    display: flex;
    align-items: center;

    margin-bottom: 40px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0em;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 89px;
    }
  }
  &__check--hide {
    position: absolute;
    opacity: 0;
    &:checked + .feedback__check {
      content: ' ';
      background-image: url('../images/check-true.svg');

      width: 32px;
      height: 31px;

      margin-right: 22px;
      margin-top: 0;
    }
  }
  &__check {
    margin-top: 3px;

    width: 30px;
    height: 28px;

    background-image: url('../images/check-false.svg');
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 24px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $primary-text-color;

  -webkit-box-shadow: 0 0 0px 1000px $bcg-color inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:hover::-webkit-input-placeholder {
  color: $primary-text-color;
}
