.footer {
  padding-top: 46px;
  padding-bottom: 52px;
  // margin-top: 72px;
  @media screen and (min-width: 1440px) {
    padding-top: 87px;
    padding-bottom: 74px;
  }
}
.footer-container{
  @media screen and (min-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  @media screen and (min-width: 1440px) {
    justify-content: space-around;
    align-items: center;
  }
}

.footer-box {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    gap: 139px;
  }
  @media screen and (min-width: 1440px) {
    gap: 50px;
  }

}
.footer__list {

  @media screen and (max-width: 1439px) {
    &:not(:last-child){margin-bottom: 24px;}

  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 0px;
  }
}
.footer__item {
  @extend %list;
  padding-left: 0px;
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.footer-contact__item {
  @extend %list;
  text-align: end;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}
.footer__link{
  @extend %link;
  color: $tranparent-white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
        &:focus {
            cursor: pointer;
            color: $accent-color;
        }

        @media screen and (min-width: 1440px) {
          font-size: 16px;
        }
}

.footer__list {
  @extend %list;

  @media screen and (min-width: 1440px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.footer-tel {
  display: inline-block;

  @media screen and (max-width: 767px) {
    margin-top: 52px;
  }
}


.footer-contact__link {
  @extend %link;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: $primary-text-color;
}
