.logo {
    width: 100px;
    height: 20px;
    z-index: 1;
    position: relative;
}

.logo-wrapper {
    max-height: 70px;
    overflow: hidden;
}

.nav__list {
    @extend %list;
    max-height: 70px;
}

.btn-menu-open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: $bcg-color;
    @media screen and (min-width:1440px){
        display: none;
    }
}

.nav {
    @media screen and (max-width:1439px) {
        display: none;
    }
    @media screen and (min-width:1440px){
         &__item:not(:last-child) {
        margin-right: 77px;
    }
    }   
}

.nav__list {
    margin-right: 80px;
    @media screen and (min-width:1440px){
        display: flex;
        font-size: 16px;
        line-height: 1.18;
    }    
}

.header-mobile {    
    
    padding-top: 24px;
    padding-bottom: 24px;
    @media screen and (max-width:1439px){
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and (min-width:768px) {
        height: 100px;
        margin-left: 35px;
        max-width: 648px;
    }
    @media screen and (min-width:1440px){
        display: flex;
        align-items: center;
    }
}

.logo__icon{
    @media screen and (min-width:1440px) {
        width: 130px;
        height: 16px;
    }
}

.container--header {
    @media screen and (min-width:1440px) {
        display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    }    
}
