.hero-descr {
    font-weight: 400;
font-size: 14px;
line-height: 1.25;
@media screen and (min-width:768px) {
    font-size: 16px;
    line-height: 1.45;
}
color: $primary-text-color;
    &--first {
        max-width: 222px;
        margin-bottom: 16px;
        @media screen and (min-width:768px){
        max-width: 253px;
        }
    }
    &--second {
        max-width: 93px;
        margin-bottom: 32px;
        @media screen and (min-width:768px) {
            margin-bottom: 105px;
            max-width: 110px;
        }
        @media screen and (min-width:1440px){
            margin-bottom: 94px;
        }
    }

}

.hero-title {
    max-width: 234px;
    font-weight: 600;
    font-size: 34px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color:$secondary-text-color;
    margin-bottom: 32px;
    @media screen and (min-width:768px) {
        margin-bottom: 40px;
        font-size: 42px;
        max-width: 289px;
        margin-right: 65px;
    }
    @media screen and (min-width:1440px){
        font-size: 74px;
        max-width: 600px;
        margin-left: 100px;
        margin-bottom: 86px;
        margin-right: 85px;
    }
}

.wrapper-hero {
    @media screen and (min-width:768px) {
        display: flex;
        padding-bottom: 50px;
        margin-left: 35px;
    }
    @media screen and (min-width:1440px) {

      padding-bottom: 85px;

  }
}

.hero-btn {
    display: block;
    max-width: 280px;
    width: 100%;
    height: 58px;
    font-weight: 600;
    text-transform: uppercase;
    background: #DF3D3A;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    margin-right: auto;
    margin-left: auto;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, #b5302d 50%);
    transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
      color 0.5s ease 0s, background-color 0.5s ease;   
    &:hover,
    &:focus{
        color: rgba(255, 255, 255, 1);
        background-color: #b5302d;
        background-position: -100% 100%;
    
        // cursor: pointer;
        // background-position: 100%;
        // background: #b5302d;
    }
    @media screen and (max-width:767px) {
        margin-bottom: 32px;
    }
    @media screen and (min-width:768px) {
        display: inline-block;
    }
    @media screen and (min-width:1440px){
        margin-left: 100px;
    }
}

.picture-hero__img {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:768px) {
    .picture-hero {
    margin-right: -20px;
}
}

.container--hero {
    @media screen and (min-width:1440px){
        // padding-bottom: 85px;
        display: block;
        // height: 690px;
    }
}