.order {
  @extend %section;
  @media screen and (min-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (min-width: 1440px) {
    padding-left: 190px;
    padding-right: 190px;
    gap: 150px;
  }
}
.order__aria {
  position: relative;
}
.order__bose {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: $secondary-text-color;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 54px;
  }
}
.order__btn {
  display: flex;
  margin-bottom: 32px;
  margin-top: 32px;
  height: 350px;
  width: 100%;
  align-items: flex-end;
  @media screen and (min-width: 768px) {
    height: 550px;
  }
  @media screen and (max-width: 1439px) {
    position: relative;
  }
  @media screen and (min-width: 1440px) {
    height: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
.order__thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.order__item {
  padding: 0;
  margin: 0;
  width: 100%;
}
.order__list {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 25px;

  @extend %list;
  border-bottom: 2px solid $primary-text-color;
  &:first-child {
    border-top: 2px solid $primary-text-color;
  }
  @media screen and (min-width: 768px) {
    width: 648px;
  }
  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}
.order__link {
  @extend %link;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $primary-text-color;
}
.order__many {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: $accent-color;
  margin-bottom: 24px;
  margin-top: 32px;
  @media screen and (min-width: 1440px) {
    font-size: 54px;
    margin-bottom: 32px;
    margin-top: 50px;
  }
}

.order__aria {
  @media screen and (min-width: 1440px) {
    position: relative;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-label {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  border: 2px solid transparent;

  cursor: pointer;

  // rgba(255, 255, 255, 0.8)
  @media screen and (min-width: 768px) {
    width: 58px;
    height: 58px;
  }
  @media screen and (min-width: 1440px) {
    width: 70px;
    height: 70px;
  }
}
.black {
  background-color: #101010;
  margin-right: 20px;
}
.white {
  background-color: #dbdbdb;
}

.radio-input:checked + .radio-label {
  border-color: $accent-color;
}

.radio-img {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 280px;
  height: auto;
  @media screen and (min-width: 768px) {
    width: 648px;
  }
  @media screen and (max-width: 1439px) {
    left: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 700px;
    top: 0;
    left: 550px;
  }
}
.radio-input:checked + .radio-label .radio-img {
  opacity: 1;
}
