.order__bose {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  color: $secondary-text-color;
  margin-bottom: 50px;
}
.order__btn {
  display: flex;
  margin-bottom: 50px;
}
.order__thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order__item {
  padding-left: 0px;
}
.order__list {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 25px;
  width: 280px;
  @extend %list;
  border-bottom: 2px solid $primary-text-color;
  &:first-child {
    border-top: 2px solid $primary-text-color;
  }

  @media screen and (min-width: 768px) {
    width: 648px;
  }
  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}

.order__link {
  @extend %link;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $primary-text-color;
}
.order__many {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: $accent-color;
  padding-left: 20px;
  margin-bottom: 24px;
}

.order__image {
  margin-top: 88px;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 60px;
    margin-right: 60px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 170px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.custom-checkbox__black {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.label-black {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-checkbox__black > input:checked + span::before {
  border-color: #0b76ef;
  background-color: $secondary-text-color;
}
.check-icon__black {
  width: 70px;
  height: 70px;
  fill: solid #101010;
  border: 2px solid #df3d3a;
  border-radius: 100%;
  // opacity: 0;
}
.custom-checkbox__white {
  position: relative;
  display: flex;
  align-items: center;
}
.label-white {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-icon__white {
  width: 70px;
  height: 70px;
  background-color: #dbdbdb;
  border: 2px solid;
  border-radius: 100%;
  // opacity: 0;
}

.order__picture {
  display: none;
}
