


.sound__wrapper {
    padding: 20px;

@media screen and (min-width: 768px) {
        padding: 50px 0;
    }

        @media screen and (min-width: 1440px) {
            padding: 85px 0;
        }

}

.sound__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #E7E7E7;
    margin-bottom: 32px;
@media screen and (min-width: 768px) {
        font-size: 30px;
        text-align: right;
        margin-right: 60px;
    }
        @media screen and (min-width: 1440px) {
            font-size: 54px;
            margin-right: 80px;
        }

}

.sound_img {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1440px) {
            margin-bottom: 50px;
        }
}


.sound__list {
    @extend %list;
    display: flex;
    flex-direction: column;

@media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
        
    }
        @media screen and (min-width: 1440px) {
            padding: 0 190px;
            justify-content: space-between;
        }


}

.sound__item:not(:last-child) {
    margin-bottom: 42px;
    @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
}

.sound__title-description {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #E7E7E7;
    margin-bottom: 16px;
    @media screen and (min-width: 1440px) {
            font-size: 28px;
            margin-bottom: 20px;
        }
    
}


.sound__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.8);

    @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 145%;
            max-width: 294px;
        }

                @media screen and (min-width: 1440px) {
                    font-size: 20px;
                    max-width: 510px;
                }
    
}

